// Color Variables
$primary-color: #222;
$text-color: #555;
$text-color-dark: #333;
$body-color: #d6d6d6;
$border-color: #d6d6d6;
$black: #000;
$white: #d6d6d6;
$light: #d6d6d6;

// Font Variables
$primary-font: 'Alegreya SC', serif;
$secondary-font: 'Alegreya Sans', sans-serif;
$icon-font: 'themify';
