// Color Variables
$primary-color: #222;
$text-color: #555;
$text-color-dark: #333;
$body-color: #ebebeb;
$border-color: #ebebeb;
$black: #000;
$white: #ebebeb;
$light: #ebebeb;

// Font Variables
$primary-font: 'Alegreya SC', serif;
$secondary-font: 'Alegreya Sans', sans-serif;
$icon-font: 'themify';
